

<ion-view title="Home" ng-controller="homeCtrl" style="color:#fff; background-image:url('images/background.jpg');" ng-controller="testCtrl">
  <ion-content>

    <div class="row">
        <div class="col">
            <a href="" ng-click="test1()" class="md-raised md-button md-default-theme material-background">test 1</a>
            <a href="" ng-click="test2()" class="md-raised md-button md-default-theme material-background">test 2</a>
            <a href="" ng-click="test3()" class="md-raised md-button md-default-theme material-background">test 3</a>
            <a href="" ng-click="populateData()" class="md-raised md-button md-default-theme material-background">Populate Data</a>
            <a ui-sref="app.UserMessages" class="md-raised md-button md-default-theme material-background">User Messages</a>


        </div>
    </div>
    <div class="row" style="height:25px;"></div>
    <div class="row">
        <div class="col">
            <a href="" ng-click="showListBottomSheet($event)"
               class="md-raised md-button md-default-theme material-background">List Bottom Sheet</a>

            <a href="" ng-click="showGridBottomSheet($event)"
               class="md-raised md-button md-default-theme material-background">Grid Bottom Sheet</a>
        </div>
    </div>
</ion-content>
</ion-view>
