<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; img-src * data:; script-src * 'unsafe-inline' 'unsafe-eval'"/>

    <title></title>

    <link href="lib/robotodraft/robotodraft.css">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/chat.css">

    <link rel="stylesheet prefetch" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="lib/font-awesome-4.4.0/css/font-awesome.css">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>

    <!-- ionic material -->

    <!-- <link href="lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet">
    <link href="lib/ionic-material/ionic.material.min.css" rel="stylesheet">
    <script src="lib/ionic-material/ionic.material.min.js"></script>
    <script src="lib/ion-md-input/js/ion-md-input.min.js"></script> -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!--ionic framework ngIOS9UIWebViewPatch-->
    <!--Learn more about ngIOS9UIWebViewPatch at : http://blog.ionic.io/ios-9-potential-breaking-change/-->
    <script src="lib/ngIOS9UIWebViewPatch/angular-ios9-uiwebview.patch.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/states.js"></script>

    <script src="templates/home/controllers.js"></script>

    <script src="templates/contacts/controllers.js"></script>
    <script src="templates/contacts/services.js"></script>

    <!-- <script src="templates/contacts/email-message/js/controllers.js"></script> -->
    <script src="templates/phoneCall/controllers.js"></script>

    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.min.js"></script>
    <script src="templates/UserMessages/controllers.js"></script>
    <!-- <script src="templates/UserMessages/services.js"></script> -->
    <link rel="stylesheet" href="templates/UserMessages/styles.css">

    <script src="templates/sms/controllers.js"></script>
    <script src="templates/sms/services.js"></script>

    <script src="js/notifications/initializePushNotification.js"></script>
    <script src="js/notifications/RequestsService.js"></script>

    <script  src="templates/test/services.js"></script>

    <script  src="js/styles.js"></script>

    <script src="lib/socket.io-1.3.5.js"></script>
    <script src="lib/angular-socket-io/socket.min.js"></script>
    <script src="templates/chat/controllers.js"></script>
    <script src="templates/chat/services.js"></script>

    <script src="lib/satellizer/satellizer.js"></script>
    <script src="templates/authentication/controllers.js"></script>
    <script src="templates/authentication/config.js"></script>

    <!-- <script src="http://maps.google.com/maps?file=api&v=3&key=AIzaSyBu6j9cZHux0lbUYjSDmXescBtSrTAW5jY"></script> -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry&key=AIzaSyBu6j9cZHux0lbUYjSDmXescBtSrTAW5jY"></script> -->
    <!-- <script src="lib/v3_epoly.js"></script> -->

    <script src="templates/map/controllers.js"></script>

    <script src="templates/voice/controllers.js"></script>

    <script src="lib/seriously/seriously.js"></script>
  	<script src="lib/seriously/seriously.camerashake.js"></script>
    <script src="templates/video/controllers.js"></script>

    <script src="templates/notification/singlePushNotification-controllers.js"></script>
    <script src="templates/notification/schedulePushNotification-controller.js"></script>

    <link href="lib/ion-drawer-vertical/ionic.contrib.drawer.vertical.css" rel="stylesheet" >
  	<script src="lib/ion-drawer-vertical/ionic.contrib.drawer.vertical.js"></script>

    <script src="templates/test/controllers.js"></script>

    <script src="templates/mails/controllers.js"></script>

    <link rel="stylesheet" href="templates/terminal/style-terminal.css">
    <script src="lib/terminal/theater.min.js"></script>
    <script src="templates/terminal/controllers.js"></script>


    <script src="lib/angular-inflector/dist/angular-inflector.min.js"></script>
    <script src="lib/lodash/lodash.js"></script>
    <script src="lib/squel/squel-basic.js"></script>
    <script src="lib/validate/validate.js"></script>
    <script src="lib/ngData/ngData.js"></script>
    <script src="js/database/schema.js"></script>

    <script src="js/database/populate.js"></script>

    <!-- <script  src="js/database/database.js"></script> -->
    <script  src="js/database/services.js"></script>

    <script src="js/events.js"></script>

    <script src="js/services.js"></script>

    <script src="js/shared/directives.js"></script>
    <script src="js/shared/filter.js"></script>
    <script src="js/shared/controllers.js"></script>
    <script src="js/app-controllers.js"></script>
    <script src="templates/menu/controllers.js"></script>
    <!-- <script src="templates/material-user-interface/dashboard/js/controllers.js"></script>
    <script src="templates/material-user-interface/default-user-interface/js/controllers.js"></script> -->
    <script src="templates/dashboard/controllers.js"></script>

    <script src="lib/jQuery/jquery.js"></script>
  </head>
  <body class="hide-native-scroll-y" ng-controller="AppCtrl" ng-cloak>

    <!--Custom Style section-->
    <style type="text/css">
        {{customStyle}}
    </style><!-- end Custom Style section-->
<style>
  .editable-image {
    height:200px;
    text-align:center;
  }
  .product.modal {
    background: transparent;
    height: 100%;
  }
  .slider {
    height: 100%;
  }
  .slider-slide {
    padding-top: 80px;
    color: #000;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
  }
  /** FORCE THE MODAL */
  .active .modal-backdrop-bg {
      opacity: 0.5;
  }
  .modal-backdrop-bg {
      -webkit-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
      background-color: #000;
      opacity: 0;
  }

</style>

    <ion-nav-view></ion-nav-view>

    <script id="templates/transparent.html" type="text/ng-template">
      <ion-content style="background: transparent; width:100%; height: 100%;z-index:10000" ng-click="openModal();" ng-controller="homeCtrl">
     </ion-content>
  </script>

    <script id="templates/about.html" type="text/ng-template">
      <ion-modal-view class="product edit create">
         <ion-slide-box on-slide-changed="slideChanged(index)">
           <ion-slide>
             <div class="list card" style="margin: 20px 30px;">

               <div class="item item-avatar">
                 <img src="agent.jpg">
                 <h2>Marty McFly</h2>
                 <p>November 05, 1955</p>
               </div>

               <div class="item item-body">
                 <img class="full-image" src="agent.jpg">
                 <p>
                   This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                   the content is from a card-body consisting of an image and paragraph text. The footer
                   consists of tabs, icons aligned left, within the card-footer.
                 </p>
                    <p>
                      <button class="button button-block button-positive" ng-click="closeModal()">
                        Connect to the Agency
                      </button>
                    </p>
                 <p>
                   <a href="#" class="subdued">1 Like</a>
                   <a href="#" class="subdued">5 Comments</a>
                 </p>
               </div>

             </div>
           </ion-slide>
           <ion-slide>
             <h3>Using Awesome</h3>

             <div id="list">
               <h5>Just three steps:</h5>
               <ol>
                 <li>Be awesome</li>
                 <li>Stay awesome</li>
                 <li>There is no step 3</li>
               </ol>
             </div>
           </ion-slide>
           <ion-slide>
             <h3>Any questions?</h3>
             <p>
               Too bad!
             </p>
           </ion-slide>
         </ion-slide-box>
     </ion-modal-view>
  </script>

    <!--angular template section-->
    <script type="text/ng-template" id="ui-list-bottom-sheet-template">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">List Bottom Sheet</h1>
            <!--list section-->
            <md-list>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="closeListBottomSheet()">
                        <i class="ion-android-call"></i>
                        <span>Actions 1</span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="closeListBottomSheet()">
                        <i class="ion-android-list"></i>
                        <span>Actions 2</span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="closeListBottomSheet()">
                        <i class="ion-android-delete"></i>
                        <span>Actions 3</span>
                    </a>
                </md-list-item>
            </md-list>

            <!--end list section-->
        </md-bottom-sheet>
    </script>

    <script type="text/ng-template" id="ui-grid-bottom-sheet-template">
        <md-bottom-sheet class="md-grid">
            <!--list section-->
            <md-list id="bottom-sheet-grid-md-list">
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="facebook"></md-icon>
                        <div class="md-grid-text"> Facebook</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="twitter"></md-icon>
                        <div class="md-grid-text"> Twitter</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="mail"></md-icon>
                        <div class="md-grid-text"> Mail</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <i class="ion-android-image"></i>

                        <div class="md-grid-text"> Save Image</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="share-arrow"></md-icon>
                        <div class="md-grid-text"> More</div>
                    </a>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </md-bottom-sheet>
    </script>

    <!-- Share template toast section-->
    <script type="text/ng-template" id="toast.html">
        <md-toast class="toast-form">
            <span flex>{{displayOption.title}}</span>
        </md-toast>
    </script><!-- end share template toast section-->

    <!-- <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
      </ion-content>
    </ion-pane> -->
  </body>
</html>
<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '812438275568287',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> -->
<script>
  function initMap() {

  }
</script>
